<div class="center">
  <%= image_tag("crew.jpg") =%>
</div>
<h1>Meeskond Esimesed</h1>

<ul>
<li>Hunt; Inimene, Rogue</li>
<li>Kjell; Inimene, Cleric</li>
<li>Veurr; Dwarf, Fighter</li>
<strike><li>Jorr; Gnoom, Sorcerer - KIA - Head bit off by a human-like crocodile</li></strike>
</ul>

<p>
Sõjasaagi manifestid leiab <a href="https://docs.google.com/spreadsheets/d/1u49ZWM9mAMGzK_ymnBrPttXRSuRO7BuNUnTojnnRFKY/edit#gid=0">SIIT</a>
</p>

<h2>Lennuki meeskond</h2>
<p>
  <ul>
    <li>Theodore; Gnoom; Cleric 3; Paadiehitaja ja hooldaja, palvetab koos Kvjelliga ja aitab jumalateenistusi läbi viia</li>
    <li>Crixus; Inimene; Fighter 4; Supilinna jarl ja sõlmpunkt läbi kelle meeskonnale käske jagada</li>
    <strike><li>Tammiste; Inimene; Rogue 3. Hundi mentor, kes on nakatunud libahundi needusesse. Tunneb suurt häbi sellepärast ja otsib läänes surma. - Currently kidnapped by Lucifer</li></strike>
    <li>Daegmar; Inimene; Rogue 2. Hundi Õde, kes on nakatunud libahundi needusesse. Tunneb suurt häbi sellepärast aga loodab läänes ravi leida.</li>
    <li>Oddny; Päkapikk; Fighter 3; Sai surma vitriini lahti tehes ja hiljem äratati maagiaga ellu tagasi.</li>
    <li>Sibbi; Inimene; Fighter 3</li>
    <li>Adolf; Inimene; Fighter 2</li>
    <li>Adrian; Inimene; Fighter 2</li>
    <li>Agathe; Inimene; Fighter 2</li>
    <li>Brynka; Päkapikk; Fighter 2</li>
    <li>Caj; Inimene; Barbarian 2</li>
    <li>Erica; Inimene; Barbarian 2</li>
    <li>Erland; Inimene; Barbarian 2</li>
    <li>Erle; Inimene; Barbarian 2</li>
    <li>Grete; Päkapikk; Barbarian 2</li>
    <li>Gösta; Ork; Barbarian 2</li>
    <li><strike>Helgi; Inimene; Barbarian 3</strike>; <b>KIA kloostri raamatukogu lahingus</b></li>
    <li><strike>Britta; Päkapikk; Fighter 2</strike>; <b>KIA kloostri raamatukogu lahingus</b></li>
    <li><strike>Göran; Ork; Barbarian 2</strike>; <b>KIA kloostri raamatukogu  lahingus kääbikute ust valvates</b></li>
    <li><strike>Björn; Inimene; Fighter 2</strike>; <b>KIA Kääbiku armeega lahingus;</b></li>
    <li><strike>Lily Gnoom; Arcane adept 1; Jorri poolt treenitakse sisemist maagiat endas leidma</strike>; <b>KIA libahuntidega lahingus;</b></li>
    <li><strike>Abi; Inimene; Fighter 1</strike>; <b>KIA libahuntidega lahingus;</b></li>
    <li><strike>Alf; Inimene; Barbarian 1</strike>; <b>KIA libahuntidega lahingus;</b></li>
    <li><strike>Cnut; Inimene; Barbarian 1</strike>; <b>KIA libahuntidega lahingus;</b></li>
    <li><strike>Diarf; Inimene; Fighter 1</strike>; <b>KIA libahuntidega lahingus;</b></li>
    <li><strike>Snorri; Päkapikk; Barbarian 1</strike>; <b>KIA libahuntidega lahingus;</b></li>
    <li><strike>Thorstar; Päkapikk; Fighter 1</strike>; <b>KIA libahuntidega lahingus;</b></li>
  </ul>
</p>
<p>
  Laeva tüüp: <a href="http://en.wikipedia.org/wiki/Longship#Drekkar">Drekkar</a>, 20 sõudmis kohta.<br/>
  Max load: 15000 lb<br/>
  Max crew size 20<br/>
</p>

<h2>Müügi meeskond - Currently kidnapped by lucifer</h2>
<strike><p>
Kaupmees, kes aitab müüa Esimestel asju.
</p>
<p>
  <ul>
    <li>Alrik; Inimene; Expert 2; Kjelli isa ja kaupmees</li>
    <li>Astrid; Inimene; Expert 2; Kjelli ema ja käsitööline</li>
  </ul>
</p>
<p>
  Mundane asjad: 100% hinnaga<br/>
  Maagilised asjad: 25% hinnaga<br/>
  Võtab iga reid 1 osa lootist<br/>
  Hoiab endal seeri ja sõdureid palgal
</p>
</strike>

<strike>
<h2>Craftimis meeskond - currently MIA</h2>
<p>
  Aitavad esimestel luua maagilisi ja tavalisi itemeid
</p>
<p>
 <ul>
    <li>Tofu; Halfling; Wizard 5; Pime röövitud kääbikust laps, kes aitab Esimestele luua maagilisi esemeid</li>
    <li>Suur John; Halfling; Fighter ?; Tofu isa, kes tuli kaasa, et enda poissi kaitsta</li>
  </ul>
</p>
<p>
  Magic itemid 50% hinnaga<br/>
  Max caster level 5<br/>
  Only arcane spells up to level 3<br/>
</p>
</strike>
<h2>Nõuandjate meeskond</h2>
<p>
  Annavad Esimestele muudel viisidel nõu
</p>
<p>
 <ul>
    <li>Lina; Fey; Aitab Esimestel ohutult Veurri kodujuures, Ilove metsas liikuda. Ally to the first ones among the forest feys.</li>
    <li><strike>Frodo; Halflink; Cloistered cleric ?; Proovis Esimesi suunata võitlusesse suure põrgu kurjuse vastu ja andis nõus, kust leida infot ja teadmisi, kuidas seda teha</strike>; <b>KIA libahuntidega lahingus;</b></li>
  </ul>
</p>
