<div class="center">
  <%= image_tag("game_rules.jpg") =%>
</div>

<h1>Mängureeglid</h1>

<p>Mängu süsteem on <a href="http://www.d20pfsrd.com/">Pathfinder</a>, mis on põhimõtteliseld D&D 3.5 edasi arendus - ta lihtsustab seda, natuke balanseerib ja muudab mõne mõttetult keerulise(nt grapple ja turn undead) normaalseks. Kõik resursid pathfinderi kohta on olemas üleval antud lehel.</p>

<p>
Mängijad alustavad level 1.
</p>

<p>
Mängus lubatud rassid on Inimene, Päkapikk, Gnoom, Ork, Pool-Ork ja äärmisel juhul ka haldjas, kui hästi ära seletada, kuidas vabaks said.
</p>

<p>
Klassidest on lubatud kõik core klassid, peale Wizardi(sest viikingid ei oska lugeda, ega kirjutada). Lisaks võib uurida ka Base classe, aga räägime enne läbi. Aligment ei tohi olla good. Enamus viikineid on lawful netural/lawful evil.
</p>

<p>
Ability scorede teada saamiseks kasutage Point buy calculaatorit, näiteks
<a href="http://jody-white.com/ability-score-calculator/">siin</a>. Teil on kokku 20 punkti, mis ära jagada. Iga klassi juures on ka kirjas kui palju nad raha saavad, näiteks fighteril on: <i>Starting Wealth: 5d6 x 10 gp (average 175gp.) In addition, each character begins play with an outfit worth 10 gp or less</i>. See tähendab et fighter saab 175 gb. Keelatud on osta endale amb(crossbow) ning kellegil ei ole oskust seda kasutada, sest viikingitel ei ole ammu tehnoloogiat.
</p>
<div class="center">
  <%= image_tag("archer.jpg") =%>
</div>

<p>
Teie tegelastel on ka. <a href="http://www.d20pfsrd.com/traits">traitid</a>. <br/>
Alguses on: <br/>
Trait - <i>Viking fury - Character knows no fear: +2 to saves against fear and emotion affecting spells and abilities</i> <br/>
Drawback - <i>Illiterate - Character cannot read or write</i><br/>
Lisaks võib mängija kuni 2 traiti võtta veel, kuid peab iga traiti jaoks võtma ühe drawbacki. Siiski palun need eelnevalt minuga läbi arutada.
</p>

<p>

</p>

<p>
Kõik mängijad on alguses lähedased sõbrad, kes tihti näevad üksteist ja on ka koos reidimas käinud. Kõik võiksid saata mulle enda tegelase tagaloo. Mängijad võivad tagaloose kirjutada endale, et neil on ka maad ja talu koos orjadega. Kuid Jarl või kuningas ei tohi olla. Küll aga võib olla bastard son, põgenenud kuninga laps vms.
</p>

<div class="center">
  <%= image_tag("stand_as_one.jpg") =%>
</div>

