<div class="center">
  <%= image_tag("seer.jpg") =%>
</div>
<h1>Religioon</h1>

<p>
Skandinaavialastel on religioon väga tähtsal kohal. Nad usuvad ja elavad jumalate järgi. Enne tähtsate ja raskete otsuste tegemist käivad nad tihti prohveti juures nõu pidamas. Paljud tähtsad otsused, kaasa arvatud ka kohtuotsused, otsustatakse prohvetite, preestrite või oraaklite poolt. Igal Jarlil on oma isiklik prohvet olemas, kes aitab tal otse jumalatega rääkida.
</p>

<div class="center">
  <%= image_tag("celebrations.jpg") =%>
</div>

Iga 9 aasta tagant reisib igast viikingi külast suur osa rahvas pühapaikadesse üle Skandinaavia. Nad pidutsevad seal 9 päeva, mille jooksul saadetakse korda orgiaid, joomisi, tarbitakse mõistust mõjutavaid aineid ja unustatakse kõik igapäevased mured. Pidutstuste lõpus ohverdatakse 9 looma igast liigist, mida Skandinaavialased kasvatavad ning lisaks ka 9 vabatahtlikku, kes annavad end jumalatele. Sellega palutakse jumalalalt veel 9 aastat abi ja kaitset.

<div class="center">
  <%= image_tag("blood_eagle.jpg") =%>
</div>

Kõige hirmsam hukkamisviis, mis viikingid enda vaenlastele teevad on verikotkas. See on Viikingite teada kõige valusam hukkamisviis, mis üleüldse olemas. See tähendab seda, et hukatav pannakse põlvili ja seotakse kinni. Seejärel lüüakse tal seljatagant kirvega ribid katki, võetakse tal kopsud seljatagant välja ja pannakse üle ribide väljapoole rippuma. Ohver paistab sellisel juhul välja nagu kotkas. Hence the name blood eagle. Kui ohver suudab hukkamise ilma ühegi hääleta üle elada, siis tal on võimalus valhallasse saada.

<h2>Peamised jumalad</h2>

Lugege palun ise nende kohta, kes huvi pakuvad, täpsemat infot, aga siin on lühikokkuvõte et enda lemmik leida:
<br/><br/>
Odin - Jumalate jumal, sõja, luule, tarkuse ja surmajumal. Ta kogub Valhallasse lahingus langenud viikingeid, kes võitlevad temaeest Ragnarokis. Tal on oda, mis ei lähe kunagi mööda ja ta teeb tarkuse jaoks ohverdusi, kaasa arvatud enda silma.
<br/><br/>
Thor - Välgujumal, hiiglaste peamine vaenlane, Odini poeg. Kõige tugevam jumal. Relvaks vasar, mis alati ta kätte tagasi tuli
<br/><br/>
Loki - Varaste jumal ja trikitaja. Lapsendatud vend Odinile. Korraldas jumal Baldri surma. Ta on hiiglane ja kivi küljes kinni kuni Ragnarokini. Ragnarokis hiiglaste ja koletiste juht.
<br/><br/>
Freys - Ilma ja viljakuse jumal. Freya vend.
<br/><br/>
Freya - Seksi, viljakuse, sõja ja rikkuse jumal. Njordi tütar.
<br/><br/>
Forseti - Õigluse jumal.
<br/><br/>
Njord - Tuule ja mere jumal.
<br/><br/>
Tyr - Sõjajumal.

<h2>Ragnarok</h2>

Skandinaavia mütoloogias on Ragnarok maailmalõpp, kus Loki juhib kõiksugu põrgust tulnud hiiglased, koletised ja väljaheidetud jumalate vastu. Ragnaroki lõpuks põleb kogu maailm ära, seejärel upub see ära, mitmed suured jumala saavad surma, kaasa arvatud Odin, Thor, Tyr, Freys ja Loki. Kui maailm mere alt välja tuleb, on alles 2 inimest, kes saavad ülesandeks maailma uuesti üles ehitada.

<div class="center">
  <%= image_tag("ragnarok.jpg") =%>
</div>
