<div class="center">
  <%= image_tag("raiders.jpg") =%>
</div>
<h1>Skandinaavialaste maailm</h1>
<p>
Skandinaavialaste elanud niikaua kuni keegi mäletab külmal maal, kus suved on lühikesed, vihmased ja talved pikad, külmad ning karmid. Seda maad kutsutakse Skandinaaviaks. See on rohkete jõgedega, tohutult kõrgete mägede ja vohavate metsade maa. Maailm ellu jäävad ainult tugevamad on Skandinaavialastest vorpinud tugevad, ilusad ning vastupidavad olendid. Selleks, et ellu jääda on nad pidanud muu maailma rahvastest olema oluliselt paindlikumad, avatuma meelega ning rohkem riske võtma.
<p>
<p>
Skandinaavialased elavad enamasti Skandinaavia mereäärsetel aladel. Kuid neil on tõsine probleem - nende maal on väga vähe lihtsasti haritavaid põllumaid. Skandinaavia Jarlid on pidevalt omavahel tülis ning sõdades, kuna nad võitlevad ühe või teise maatüki pärast. Paljud Jarlid on ka üritanud enda rahvaga tungida rohkem Skandinaavia südamesse, kuid seal asuvad hiigelsuured maagilised koletised. Mida sügavamale minna, seda hirmsamaid jõletisi leiab. Vähesed ellujääjad, kes on käinud sügaval sisemaal räägivad lugusid hiiglastest ja jõletisetest, kes on suuremad kui mäed ning mustast maagiast, mis ajab ka kõige tugevama mehe hulluks.
</p>

<div class="center">
  <%= image_tag("viking_beast.jpg") =%>
</div>

<p>Algusaastatel olid Skandinaavialased kõigest rahulikud talumehed. Kuid kui kerge maa hakkas otsa saama, siis see sundis Skandinaavialasi hakkama teisi väljapääse ellujäämiseks otsima. Esialgu hakati tegelema kaubandusega. Skandinaavia inimesed Alustasid kaubandussuhteid Päkapikkude, Gnoomide ning mägielukatega(Goblinitega). Nende abiga suudeti Skandinaavia veekogu äärsemad mäestikud ära asustada ja vallutada. Skandinaavias on ilmselt ainus ühiskond maailmas, kus Mägielukad ning päkapikud elavad rahus koos. Kuid mis veelgi üllatavam, Skandinaavialased leidsid sügavamalt Skandinaaviast Orkid. Ajalooliselt on kõik rahvused Orkidega sõtta läinud, kuid nii rasketes oludes ning ümbritsetuna maagilistest koletistest, said isegi Orkid aru, et neil on kasuliku Skandinaavialastega koostööd teha. Koos Orkide ja Skandinaavialastega on mitmeid sisemaa kindlusi püstitatud ning nende ümber maid harima hakatud. Kõige kuulsam on kõrge mäe otsas kuninglik loss Kivi, mis kahe nädala teekonna kaugusel Kattegatist - Viikingite pealinnast. Praeguseks ajaks on ei eristata enam Skandianaavialaste seas inimesi, Orke, Gnoome, Päkapikke ega Goblineid. Nad on kõik Skandinaavialased.</p>

<p>
Skandinaavialased lõid ka tihedad kaubandus sidemed idas asuvate Balti ja Russide maadega. Seal asusid mitmed rahvused, nende sead Metsahaldjad, Rus inimesed ja Tundra rahvas. Esialgu üritati tükk aega nendega kaubelda, kuid sealne rahvas vaatas tihtipeale Skandinaavialastele alla. Skandinaavialastele loodi mitmeid kaubandus barjääre, neile müüdi kaupa kallimalt ning vahel isegi neid rünnati.
</p>

<p>
Üks päev saatis nüüdseks surnud Jarl Haalad enda poja itta Russide maale hunniku loomanahkade ja relvadega, et ta tuleks sealt tagasi toiduga, mida tema nälgival rahval vaja oli. Kuu aega hiljem jõudis Jarlile teade, et tema poeg oli röövitud paljaks ning pea teiba otsa pandud. Jarl, kellel oli niigi palju muresid enda rahva ohjeldamisega, sai nii kurjas, et ta kuulutas rahvale <i>Me lähme Russide juurde! Tapame kõik kes vastu hakkavad! Võtame ellujäänud orjadeks! Saame toitu veel mitmeks talveks!</i> Ta kutsus rahvast üles minema piraadiretkele. Skandinaavialaste keeles kutsuti seda minema Viikingile.
</p>

<div class="center">
  <%= image_tag("beginning_of_raids.jpg") =%>
</div>

<p>
Jarl Haaladi reidid olid nii edukad, et tema rahvas rikkus ning tema mõjuvõim hakkas kiirelt üle Skandinaavia kasvama. Ei võtnud palju aega, et ka teised Jarlid hakkasid tema jälgedes käima. Sellest sai alguse viikingi ajastu.
</p>

<p>
Ajal, mil mängijad alustavad on Viikingi ajastu juba 300 aastat kestnud. Viikingid on idas kardetud piraadid, kes tulevad ootamatult ning rüüstavad külasid, templeid, kirikuid ja vahel isegi losse. Keegi ei vaata enam viikingitele ülevalt alla. Viikingeid kardetakse, austatakse ning vihatakse. Tõsi ta on -  viikingite reidid on olnud nii edukad, et viikingite maid loetakse rikkamaks kui kunagisi rikkaid idamaid. Selline seis on hakanud viikingitele vaikselt tagasi tooma vahepeal unustatud probleeme - nimelt maad on vähe, süüa on vähe ja enam pole naabritelt ka võtta väga..
</p>

<p>
Mõni Jarl on hakanud väljapääsu otsimiseks hakanud tegema sügavamaid reide itta - aga need retked on ohtlikumad ning senimaani pole sügavamal idas väga palju rikkamaid maid leitud. Mõni üksik puhtahull Jarl on võtnud ette retke ka läände - üle ookeani. Enamus neist ei ole tagasi tulnud. Need kes on, räägivad lõputust sinisest ja rahutust merest.
</p>
