<div class="center">
  <%= image_tag("homerules.jpg") =%>
</div>

<h1>General:</h1>
<p>
  <ul>
    <li>If somebody is flanked, he is flanked by everybody</li>
    <li>If you want to move out of threatened square with move action, its DC 15 acrobatics check. If you wanto to move through enemy square, its a contest of acrobatics check</li>
    <li>Inspiration does not carry over to the next game</li>
    <li>1 interactioniga võib tõmmata 2 relva välja kui mõlemad käed vabad</li>
    <li>Drinking any potion is an interaction</li>
    <li>
    DISARM <br/>
    A creature can use a weapon attack to knock a weapon or another item from a target's grasp. The attacker makes an attack roll contested by the target's Strength (Athletics) check or Dexterity (Acrobatics) check. If the attacker wins the contest, the attack causes no damage or other ill effect, but the defender drops the item. The attacker can choose a location in 15 foot radius where the item drops.<br/>
    The attacker has disadvantage on its attack roll if the target is holding the item with two or more hands or if he doesnt have a weapon of his own(unless he has Martial arts or unarmed feat).<br/>
    The target has advantage on its ability check if it is larger than the attacking creature, or disadvantage if it is smaller.</li>
    <li>
    DISARM AND TAKE WEAPON <br/>
    A creature can use a weapon attack to knock a weapon or another item from a target's grasp. The attacker makes an attack roll contested by the target's Strength (Athletics) check or Dexterity (Acrobatics) check. The attacker has disadvantage on its attack roll and needs a free hand to take the weapon. If the attacker wins the contest, the attack causes no damage or other ill effect, but takes away the weapon of defender.
    </li>
  </ul>
</p>
