<script>
function showPicture() {
  $("#selvarin").elevateZoom(
    {
      zoomType : "lens",
      lensShape : "round",
      lensSize : 800
    }
    );
  $("#loading-bar").hide();
  $("#picture-holder").show();
}
</script>
<div style="display:none">
  <img id="big-picture" src="/assets/selvarin.jpg" onload="showPicture()">
</div>
<div id="loading-bar">
  <div class="spinner"></div>
</div>
<div id="picture-holder" style="display:none">
  <%= image_tag("selvarin_thumb.jpg", id: "selvarin", data: {'zoom-image' => "/assets/selvarin.jpg"}) =%>
</div>
<p>
  <h1><a href="/assets/selvarin.jpg">FULL IMAGE<a></h1>
</p>
