<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55905413-1', 'auto');
  ga('send', 'pageview');

</script>
<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "Viikingid", root_path, id: "logo", class: "navbar-brand" %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Maailm", root_path %></li>
        <li><%= link_to "Kultuur", culture_path %></li>
        <li><%= link_to "Jumalad", gods_path %></li>
        <li><%= link_to "Mängu reeglid", game_rules_path %></li>
        <li><%= link_to "Ajajoon", timeline_path %></li>
        <li><%= link_to "Selvarini kaart", map_path %></li>
        <li><%= link_to "Asgard kaart", '/assets/asgard_prison.jpg' %></li>
        <li><%= link_to "Meeskond", crew_path %></li>
        <li><%= link_to "Homerules", homerules_path %></li>
      </ul>
    </div>
  </div>
</div>

